* {
  box-sizing: border-box;
}

html,
body {
  font-family $fontfamily-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  background-image: $radial-gradient;
}

button {
  outline: none;
  cursor: pointer;
}