@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?x7xe9l');
  src:  url('../fonts/icomoon.eot?x7xe9l#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?x7xe9l') format('truetype'),
    url('../fonts/icomoon.woff?x7xe9l') format('woff'),
    url('../fonts/icomoon.svg?x7xe9l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}